<% if current_user.admin? && SHOW_ADMIN_FIELDS %>
  <h4>Admin Information</h4>
  <div class="section detail aiki_box pad_sides pad_top_slim">
    <div class="row">
      <div class="col-md-3"><label>Admin Page:</label></div>
      <div class="col-md-9"><%= link_to "Admin For #{waza.name}", admin_waza_path(waza), target: "_blank" %></div>
    </div>

    <% if video %>
      <div class="row">
        <div class="col-md-3"><label>Video ID:</label></div>
        <div class="col-md-9"><%= !video.nil? ? video.id : 'n/a' %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><label>YouTube Code:</label></div>
        <div class="col-md-9"><%= !video.nil? ? video.youtube_code : 'n/a' %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><label>Visible To Non-Admin:</label></div>
        <div class="col-md-9 bold"><%= !video.nil? ? video.visible? : 'n/a' %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><label>Primary Video:</label></div>
        <div class="col-md-9 bold"><%= !video.nil? ? video.primary? : 'n/a' %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><label>Available For Demo:</label></div>
        <div class="col-md-9 bold"><%= !video.nil? ? video.for_demo? : 'n/a' %></div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-9 col-md-offset-3 bold">No Video Record</div>
      </div>
    <% end %>
  </div>
  <br/>
<% end %>
