<div id="filter_selection">
  <div class="row lnav_row">
    <div class="col-md-10"><h4>Filter</h4></div>
    <div class="col-md-2">
      <button id="hide_filters" class="filter_button">Hide</button>
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "stance_type", "Stance:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "stance_type", options_for_select(Stance.options_for_select, Stance::SELECT_ANY) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "attack_type", "Attack:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "attack_type", options_for_select(Attack.options_for_select, Attack::SELECT_ANY) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "technique_type", "Technique:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "technique_type", options_for_select(Technique.options_for_select, Technique::SELECT_ANY) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "direction_type", "Direction:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "direction_type", options_for_select(Direction.options_for_select, Direction::SELECT_ANY) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "rank_type", "Rank:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "rank_type", options_for_select(Rank.options_for_select, Rank::SELECT_ANY) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "testable", "On Test:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "testable", options_for_select({ "All" => 'all', "True" => 'true', "False" => 'false' }, 'all') %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
