<div id="vid" class="col-md-8">
  <%= render 'wazas/title', waza: waza, video: video %>
  <%= render 'wazas/detail', waza: waza %>
  <div id="waza_format" class="tabbale aiki_box navbar">
    <%
      this_format = waza_format.format
      formats, waza_formats_hash, format_states = available_formats(waza, this_format)
    %>

    <%= render 'waza_format_tab_head', waza: waza, formats: formats, waza_formats_hash: waza_formats_hash, format_states: format_states %>

    <%= render 'waza_format_tab_pane', waza: waza, video: video, format: this_format, waza_formats_hash: waza_formats_hash, format_states: format_states %>

    <%= render 'user_notes/index', waza_format: waza_format %>
  </div>
</div>
