<div id="vid" class="col-md-8">
  <%= render 'wazas/title', waza: waza, video: video %>
  <%= render 'wazas/detail', waza: waza %>
  <div id="waza_format" class="tabbale aiki_box navbar">
    <%
      format_states = {}
      formats = Format.default_order

      waza_formats = waza.waza_formats_hash
      used = waza_formats.keys

      formats.each do |format|
        format_states[format] = {}

        format_states[format][:state] = if @format && format.id == @format.id
          'active'
        elsif !used.include?(format)
          'disabled'
        else
          ''
        end
      end
    %>
    <ul class="nav nav-tabs">
      <% formats.each do |format| %>
        <li class="<%= format_states[format][:state] %>">
          <%
            tab_class = format_states[format][:state] == 'disabled' ? 'disabled_link' : ''
            first_waza_format = waza_formats[format] ? waza_formats[format].first : nil
            tab_video = first_waza_format ? first_waza_format.first_video : nil
          %>
          <%= link_to format.name, remote_waza_url(waza: waza, video: tab_video), remote: true, 'data-toggle' => "tab", class: tab_class  %>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% formats.each do |format| %>
        <div class="tab-pane <%= format_states[format][:state] %>" id="tab<%= format.id %>">
          <% if format_states[format][:state] == 'disabled' %>
            <%= format.name %>
          <% else %>
            <% waza_format = waza_formats[format] ? waza_formats[format].first : nil %>
            <br/>
            <div class="row pad_sides">
              <div class="col-md-12"><strong><%= waza_format.format.description %></strong></div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <th>Video</th>
                    <th>Rank</th>
                    <th>Format(s)</th>
                    <th>Sensei</th>
                    <th>Style</th>
                  </thead>
                  <tbody>
                    <%= render waza_formats[format], video: video  %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render 'videos/detail', video: video if Video.show_video?(video) %>

    <div class="vid_area">
      <div class="videowrapper">
        <% if Video.show_video?(video) %>
          <iframe id="player" class="movie" width="560" height="315" src="http://www.youtube.com/embed/<%= video.youtube_code %>?rel=0" frameborder="1" html5="1" allowfullscreen></iframe>
          <div><%= link_to "Reload", remote_waza_url(waza: waza, video: video), remote: true %></div>
          <div id="link_for_moble"><a href="http://www.youtube.com/watch?v=<%= video.youtube_code %>">View on Youtube</a></div>
        <% else %>
          <%= render 'shared/video_not_uploaded' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
