  <% if FILTERING %>
    <%= form_tag aikido_url, method: :get, remote: true do %>
      <%
        sort_options = %w(Rank Stance Attack Technique Direction)
        @format_id ||= nil
      %>
      <div class="row">
        <div class="col-md-12"><h4>Sort</h4></div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= label_tag "format_id", "Format:" %>
      </div>
      <div class="col-md-10">
        <%= select_tag "format_id", options_for_select(Format.order(:name).map{|s| [s.name, s.id]}, @format_id), include_blank: true %>
      </div>
    </div>

      <div id="sort_row" class="row lnav_row">
        <div class="col-md-2">
          <%= label_tag "sort_type", "Attribute:" %>
        </div>
        <div class="col-md-6">
          <%= select_tag "sort_type", options_for_select(sort_options, selected: sort_by) %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Go', id: 'top_go' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <br/>
  <% end %>
