<div id="video_list" class="pull_up">

  <h4>by <%= sort_by.pluralize %></h4>

  <% if selection && selection.any? %>
    <div class="panel-group" id="accordion">
      <%
        selected_key = keys.first
        if keys.size > 1 && @video
          selected_key = @video.send(@default_sort.downcase.pluralize).first
        end

        keys.each do |key|
          techniques = selection[key]

          if key == 'Search Results'
            id = 'search_results'
            name = "Search Results"
            description = @search_term || ''
          else
            id = key.id
            name = key.name
            description = key.description
          end
      %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= id %>">
                <ul>
                  <li class="no_bullet_list"><%= name %></li>
                  <li class="no_bullet_list_indented"><%= description %></li>
                </ul>
              </a>
            </h4>
          </div>

          <div id="collapse<%= id %>" class="panel-collapse collapse<%= selected_key.id == key.id ? ' in' : '' %>">
            <div class="panel-body">
              <ul>
                <% techniques.each do |t| %>
                  <%
                  #TODO Clean this up, make a helper
                    name = t.list_name
                    if sort_by == 'Rank'
                      wfs = WazaFormat.where(waza: t, rank: key)
                      if wfs
                        # v = wfs.first.first_video
                        formats = wfs.map{|wf| wf.format}.uniq
                        formats = formats.sort{|x,y| x.position <=> y.position}
                        format_string = formats.map(&:name).join(', ')
                        v = wfs.sort{|x,y| x.format.position <=> y.format.position }.first.first_video
                      end
                    end
                  %>
                  <li class="no_bullet_list pad_bottom_sm">
                    <%= link_to "#{name}", remote_waza_url(waza: t, video: v), remote: true %>
                    <%= " - #{format_string}" if format_string.present? %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

        </div>

      <% end %>
    </div>
  <% end %>
</div>
