<div class="tab-content">
  <div class="tab-pane <%= format_states[format][:state] %>" id="tab<%= format.id %>">
    <% if format_states[format][:state] == 'disabled' %>
      <%= format.name %>
    <% else %>
      <% waza_format = waza_formats_hash[format] ? waza_formats_hash[format].first : nil %>
      <br/>
      <div class="row pad_sides">
        <div class="col-md-12"><strong><%= waza_format.format.description %></strong></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <th></th>
              <th>Video</th>
              <th>Rank</th>
              <th>Format(s)</th>
              <th>Sensei</th>
              <th>Style</th>
            </thead>
            <tbody>
              <%= render waza_formats_hash[format], video: video  %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'videos/detail', video: video if Video.show_video?(video) %>
<%= render 'video', video: video, waza: waza %>
