<% visible = VideoUtils.visible_videos(waza_format.videos, current_user) %>
<% visible.each do |vid| %>
  <%
    vid_name = vid.name(description: true)
  %>
  <tr>
    <td>
      <% if vid.id == video_id %>
        <strong>&check;</strong>
      <% end %>
    </td>
    <td>
      <%= link_to vid_name, remote_waza_url(waza: waza_format.waza, video: vid), remote: true %>
    </td>
    <td>
      <%= waza_format.rank_name %>
    </td>
    <% if format.iaido? %>
      <td>
        <%= vid.kata_name if vid.kata %>
      </td>
    <% end %>
    <td>
      <%= vid.format_name %>
    </td>
    <td>
      <%= vid.sensei.name %>
    </td>
    <td>
      <%= vid.style ? vid.style.name : '' %>
    </td>
  </tr>
<% end %>
