<div class="tab-content">
  <div class="tab-pane <%= format_states[format][:state] %>" id="tab<%= format.id %>">
    <% if format_states[format][:state] == 'disabled' %>
      <%= format.name %>
    <% else %>
      <br/>
      <div class="row pad_sides">
        <div class="col-md-12"><label><%= format.name %>:&nbsp;</label>(<%= format.description %>)</div>
      </div>
      <br/>

      <%
        ranks = waza_formats_hash[format].keys
        ranks.each do |rank|
          waza_format = waza_formats_hash[format][rank]
      %>
        <div class="row pad_sides">
          <div class="col-md-12">
            <table class="table table-striped table-bordered">
              <thead class="rank_row">
                <th colspan="<%= format.iaido? ? 6 : 5 %>"><%= rank.label %></th>
                <th>
                  <% if waza_format.videos.include?(video) && !current_user.restricted? %>
                    <%= link_to 'Add User Note', new_user_waza_format_user_note_path(user_id: current_user, waza_format_id: waza_format, video: video.id), {:class => "btn btn-primary btn-xs pull-right", :remote => true, 'data-toggle' => 'modal', 'data-target' => '#userNoteModal'} %>
                  <% end %>
                </th>
              </thead>
              <% if waza_format.videos.include?(video) && (current_user.reviewer? || current_user.admin?) %>
              <thead class="rank_row">
                <th colspan="<%= format.iaido? ? 6 : 5 %>">&nbsp;</th>
                <th>
                      <%= link_to 'Add Review Note', new_user_waza_format_review_note_path(user_id: current_user, waza_format_id: waza_format, video: video.id), {:class => "btn btn-primary btn-xs pull-right", :remote => true, 'data-toggle' => 'modal', 'data-target' => '#userNoteModal'} %>
                </th>
              </thead>
              <% end %>
              <thead>
                <th></th>
                <th>Video</th>
                <% if format.iaido? %>
                  <th>Kata</th>
                <% end %>
                <th>Format(s)</th>
                <th>On Test</th>
                <th>Sensei</th>
                <th>Style</th>
              </thead>
              <tbody>
                <%= render waza_format, format: format, video: video  %>
              </tbody>
            </table>
          </div>
        </div> <!-- table div -->
      <% end %> <!-- ranks -->
    <% end %> <!-- format active -->
  </div>
</div>

<%= render 'videos/detail', video: video if Video.show_video?(video) %>
<%= render 'wazas/video', video: video, waza: waza %>
