<% visible = VideoUtils.visible_videos(waza_format.videos, current_user) %>
<% visible.each do |vid| %>
  <%
    vid_name = vid.name(description: true)
  %>
  <tr>
    <td>
      <% if vid.id == video_id %>
        <strong>&check;</strong>
      <% end %>
    </td>
    <td>
      <%= link_to vid_name, remote_waza_url(waza: waza_format.waza, video: vid), remote: true %>
    </td>
    <td>
      <%
        if waza_format.rank
          rank = waza_format.rank_name
          if waza_format.kata
            rank += " - #{waza_format.kata_name}"
          end
        end
      %>
      <%= rank.present? ? rank : '' %>
    </td>
    <td>
      <%= vid.format_name %>
    </td>
    <td>
      <%= vid.sensei.name %>
    </td>
    <td>
      <%= vid.style ? vid.style.name : '' %>
    </td>
    <% if !current_user.demo? && !current_user.restricted? %>
      <td>
        <%= link_to 'Add', new_user_waza_format_user_note_path(user_id: current_user, waza_format_id: waza_format, video: vid.id), {:class => "btn btn-primary btn-xs", :remote => true, 'data-toggle' => 'modal', 'data-target' => '#userNoteModal'} %>
      </td>
    <% end %>
  </tr>
<% end %>
