<% visible = VideoUtils.visible_videos(waza_format.videos, current_user) %>
<% visible.each do |vid| %>
  <%
    vid_name = vid.name(description: true)
  %>
  <tr>
    <td>
      <% if vid.id == video_id %>
        <strong>&check;</strong>
      <% end %>
    </td>
    <td>
      <%= link_to vid_name, remote_waza_url(waza: waza_format.waza, video: vid), remote: true %>
    </td>
    <td>
      <%
        if waza_format.rank
          rank = waza_format.rank_name
          if waza_format.kata
            rank += " - #{waza_format.kata_name}"
          end
        end
      %>
      <%= rank.present? ? rank : '' %>
    </td>
    <td>
      <%= vid.format_name %>
    </td>
    <td>
      <%= vid.sensei.name %>
    </td>
    <td>
      <%= vid.style ? vid.style.name : '' %>
    </td>
  </tr>
<% end %>
