<div class="section detail" style="padding-top: 1px;">
  <h4>This Video</h4>
  <% if video.name.present? %>
    <div class="row">
      <div class="col-md-3"><label>Name:</label></div>
      <div class="col-md-9"><%= video.name %></div>
    </div>
  <% end %>

  <% if video.description.present? %>
    <div class="row">
      <div class="col-md-3"><label>Description:</label></div>
      <div class="col-md-9"><%= video.description %></div>
    </div>
  <% end %>

  <% if video.sensei %>
    <div class="row">
      <div class="col-md-3"><label>Sensei:</label></div>
      <div class="col-md-9"><%= video.sensei.name %></div>
    </div>
  <% end %>

  <% if video.formats.any? %>
    <div class="row">
      <div class="col-md-3"><label>Format(s):</label></div>
      <div class="col-md-9"><%= video.format_name %></div>
    </div>
  <% end %>

  <% if video.style %>
    <div class="row">
      <div class="col-md-3"><label>Style:</label></div>
      <div class="col-md-9"><%= video.style.name %></div>
    </div>
  <% end %>

  <% if video.attack_height %>
    <div class="row">
      <div class="col-md-3"><label>Attack Height:</label></div>
      <div class="col-md-9"><%= video.attack_height.name %></div>
    </div>
  <% end %>

  <% if video.copyright.present? %>
    <div class="row">
      <div class="col-md-3"><label>Copyright:</label></div>
      <div class="col-md-9"><%= video.copyright %></div>
    </div>
  <% end %>
</div>
