<div class="section detail">
  <% if video.format %>
    <div class="row">
      <div class="col-md-3"><label><%= video.format.name %>:</label></div>
      <div class="col-md-9"><%= video.format.description %></div>
    </div>
  <% end %>

  <% if video.sensei %>
    <div class="row">
      <div class="col-md-3"><label>Sensei:</label></div>
      <div class="col-md-9"><%= video.sensei.name %></div>
    </div>
  <% end %>

  <% if video.name.present? %>
    <div class="row">
      <div class="col-md-3"><label>Video:</label></div>
      <div class="col-md-9"><%= video.name %></div>
    </div>
  <% end %>

  <% if video.description.present? %>
    <div class="row">
      <div class="col-md-3"><label>Video Description:</label></div>
      <div class="col-md-9"><%= video.description %></div>
    </div>
  <% end %>

  <% if video.copyright.present? %>
    <div class="row">
      <div class="col-md-3"><label>Video Copyright:</label></div>
      <div class="col-md-9"><%= video.copyright %></div>
    </div>
  <% end %>
</div>
