<div class="section detail">
  <% if applied_technique.stance %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.stance.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.stance.description %></div>
    </div>
  <% end %>

  <% if applied_technique.attack %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.attack.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.attack.description %></div>
    </div>
  <% end %>

  <% if applied_technique.technique %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.technique.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.technique.description %></div>
    </div>
  <% end %>

  <% if applied_technique.direction %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.direction.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.direction.description %></div>
    </div>
  <% end %>

  <% if applied_technique.attack_height %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.attack_height.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.attack_height.description %></div>
    </div>
  <% end %>

  <% if applied_technique.waza %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.waza.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.waza.description %></div>
    </div>
  <% end %>

  <% unless applied_technique.rank.miscellaneous? %>
    <div class="row">
      <div class="col-md-3"><label>Rank:</label></div>
      <div class="col-md-9"><%= applied_technique.rank.label %></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>Testing:</label></div>
      <div class="col-md-9"><%= "#{applied_technique.on_test? ? 'On Test' : 'Know For Rank'}" %></div>
    </div>
  <% end %>

</div>
