<h1 class="center"><%= applied_technique.name %></h1>
<% if applied_technique.description.present? %>
  <h4 class="left_align"><%= applied_technique.description %></h4>
<% end %>
<div class="section detail">
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-3"><label>Admin Page:</label></div>
      <div class="col-md-9"><%= link_to "Admin For #{applied_technique.name}", admin_applied_technique_path(applied_technique) %></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>YouTube Code:</label></div>
      <div class="col-md-9"><%= !video.nil? ? video.youtube_code : 'n/a' %></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>Visible To Non-Admin:</label></div>
      <div class="col-md-9 bold"><%= !video.nil? ? video.visible? : 'n/a' %></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>Available For Demo:</label></div>
      <div class="col-md-9 bold"><%= !video.nil? ? video.for_demo? : 'n/a' %></div>
    </div>
  <br/>
  <% end %>

  <% if applied_technique.stance %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.stance.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.stance.description %></div>
    </div>
  <% end %>

  <% if applied_technique.attack %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.attack.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.attack.description %></div>
    </div>
  <% end %>

  <% if applied_technique.technique %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.technique.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.technique.description %></div>
    </div>
  <% end %>

  <% if applied_technique.direction %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.direction.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.direction.description %></div>
    </div>
  <% end %>

  <% if applied_technique.attack_height %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.attack_height.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.attack_height.description %></div>
    </div>
  <% end %>

  <% if applied_technique.format %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.format.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.format.description %></div>
    </div>
    <% if applied_technique.aiki_toho? && applied_technique.kata %>
      <div class="row">
        <div class="col-md-3"><label>Kata:</label></div>
        <div class="col-md-9"><%= applied_technique.kata.name %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><label>Kata Number:</label></div>
        <div class="col-md-9"><%= applied_technique.position %></div>
      </div>
    <% end %>
  <% end %>

  <% if applied_technique.waza %>
    <div class="row">
      <div class="col-md-3"><label><%= applied_technique.waza.name %>:</label></div>
      <div class="col-md-9"><%= applied_technique.waza.description %></div>
    </div>
  <% end %>

  <% unless applied_technique.rank.miscellaneous? %>
    <div class="row">
      <div class="col-md-3"><label>Rank:</label></div>
      <div class="col-md-9"><%= applied_technique.rank.label %></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>Testing:</label></div>
      <div class="col-md-9"><%= "#{applied_technique.on_test? ? 'On Test' : 'Know For Rank'}" %></div>
    </div>
  <% end %>


  <% related = applied_technique.related %>
  <% if related && VideoUtils.visible_videos(related.videos, current_user).any? %>
    <div class="row">
      <div class="col-md-3"><label>Related <%= related.format.name %>:</label></div>
      <div class="col-md-9">
        <% if related.aiki_toho? %>
          <%= link_to related.name, iaido_path(sort: 'format', applied_technique: related) %>
        <% else %>
          <%= link_to related.name, aikido_path(sort: 'format', applied_technique: related) %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<ul class="left_align">
  <% visible = VideoUtils.visible_videos(applied_technique.videos, current_user) %>
  <% if visible.size > 1 %>
    <li class="no_bullet_list"><strong>Other Videos:</strong></li>
    <% visible.each do |vid| %>
      <% next if vid.id == video.id %>
      <li class="no_bullet_list_indented other_videos">
        <%= link_to vid.name, remote_show_url(vid.id), remote: true %>
      </li>
    <% end %>
  <% end %>
</ul>
