<h1><%= applied_technique.name %></h1>
<% if SHOW_DEBUG %>
  <h2>(<%= youtube_code %>)</h2>
<% end %>
<% if applied_technique.description.present? %>
  <h4 class="left_align"><%= applied_technique.description %></h4>
<% end %>
<ul class="left_align">
  <% if applied_technique.stance %>
    <li class="no_bullet_list"><strong><%= applied_technique.stance.name %>:</strong> <%= applied_technique.stance.description %></li>
  <% end %>
  <% if applied_technique.attack %>
    <li class="no_bullet_list"><strong><%= applied_technique.attack.name %>:</strong> <%= applied_technique.attack.description %></li>
  <% end %>
  <% if applied_technique.technique %>
    <li class="no_bullet_list"><strong><%= applied_technique.technique.name %>:</strong> <%= applied_technique.technique.description %></li>
  <% end %>
  <% if applied_technique.direction %>
    <li class="no_bullet_list"><strong><%= applied_technique.direction.name %>:</strong> <%= applied_technique.direction.description %></li>
  <% end %>
  <% if applied_technique.attack_height %>
    <li class="no_bullet_list"><strong><%= applied_technique.attack_height.name %>:</strong> <%= applied_technique.attack_height.description %></li>
  <% end %>
  <% if applied_technique.format %>
    <li class="no_bullet_list"><strong><%= applied_technique.format.name %>:</strong> <%= applied_technique.format.description %></li>
    <% if applied_technique.aiki_toho? && applied_technique.kata %>
      <li class="no_bullet_list"><strong>Kata:</strong> <%= applied_technique.kata.name %></li>
      <li class="no_bullet_list"><strong>Number:</strong> <%= applied_technique.position %></li>
    <% end %>
  <% end %>
  <% if applied_technique.waza %>
    <li class="no_bullet_list"><strong><%= applied_technique.waza.name %>:</strong> <%= applied_technique.waza.description %></li>
  <% end %>
  <% unless applied_technique.rank.miscellaneous? %>
    <li class="no_bullet_list"><strong>Rank:</strong> <%= applied_technique.rank.label %></li>
    <li class="no_bullet_list"><strong>Testing:</strong> <%= "#{applied_technique.on_test? ? 'On Test' : 'Know For Rank'}" %></li>
  <% end %>
  <% if applied_technique.related %>
    <% related = applied_technique.related %>
    <li class="no_bullet_list"><strong>Related <%= related.format.name %>:</strong>
      <% if related.aiki_toho? %>
        <%= link_to related.name, applied_techniques_iaido_path(sort: 'format', applied_technique: related) %>
      <% else %>
        <%= link_to related.name, applied_techniques_aikido_path(sort: 'format', applied_technique: related) %>
      <% end %>
    </li>
  <% end %>
</ul>
