<div id="filter_selection">
  <div class="row lnav_row">
    <div class="col-md-10"><h4>Filter</h4></div>
    <div class="col-md-2">
      <button id="hide_filters" class="filter_button">Hide</button>
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "stance_type", "Stance:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "stance_type", options_from_collection_for_select(Stance.default_order.all, 'id', 'label', Stance::ANY_STANCE) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "attack_type", "Attack:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "attack_type", options_from_collection_for_select(Attack.default_order.all, 'id', 'label', Attack::ANY_ATTACK) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "technique_type", "Technique:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "technique_type", options_from_collection_for_select(Technique.default_order.all, 'id', 'label', Technique::ANY_TECHNIQUE) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "direction_type", "Direction:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "direction_type", options_from_collection_for_select(Direction.default_order.all, 'id', 'label', Direction::ANY_DIRECTION) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <% if type == 'aikido' %>
    <div class="row lnav_row">
      <div class="col-md-2">
        <%= label_tag "format_type", "Format:" %>
      </div>
      <div class="col-md-8">
        <%= select_tag "format_type", options_for_select(Format.options_for_select, Format::ANY_FORMAT) %>
      </div>
      <div class="col-md-2 filter_buttons">
      </div>
    </div>
    <div class="row lnav_row">
      <div class="col-md-2">
        <%= label_tag "waza_type", "Waza:" %>
      </div>
      <div class="col-md-8">
        <%= select_tag "waza_type", options_from_collection_for_select(Waza.default_order.all, 'id', 'label', Waza::ANY_WAZA) %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  <% end %>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "rank_type", "Rank:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "rank_type", options_from_collection_for_select(Rank.default_order.all, 'id', 'label', Rank::ANY_RANK) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row lnav_row">
    <div class="col-md-2">
      <%= label_tag "testable", "On Test:" %>
    </div>
    <div class="col-md-8">
      <%= select_tag "testable", options_for_select({ "All" => 'all', "True" => 'true', "False" => 'false' }, 'all') %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
