<div id="filter_form">
  <% if FILTERING %>
    <%= form_tag applied_techniques_video_list_url, method: :get, remote: true do %>
      <%
        sort_options = %w(Rank)
        if type == 'aikido'
          sort_options += %w(Technique Attack Stance Format)
          sort_options += ['Testing Level']
        elsif type == 'iaido'
          sort_options += %w(Kata)
        end
      %>
      <div id="sort_row" class="row">
        <div class="col-md-2">
          <%= label_tag "sort_type", "Sort:" %>
        </div>
        <div class="col-md-8">
          <%= select_tag "sort_type", options_for_select(sort_options, selected: sort_by) %>
        </div>
        <div class="col-md-2 filter_buttons">
          <% if type == 'aikido' %>
            <button id="show_filters">Filter</button>
          <% end %>
        </div>
      </div>

      <% if type == 'aikido' %>
        <%= render 'filter_selection' %>
      <% end %>

      <%= hidden_field_tag "type", type.titleize %>

      <div class="row lnav_row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <%= submit_tag 'Go' %>
        </div>
      </div>

    <% end %>
  <% else %>
    <br/>
  <% end %>
</div>
