<div id="filter_form">
  <% if FILTERING %>
    <%= form_tag applied_techniques_video_list_url, method: :get, remote: true do %>
      <%
        options = %w(Rank)
        if type == 'aikido'
          options += %w(Technique Attack Stance Format)
          options += ['Testing Level']
        end
        options += %w(Kata) if type == 'iaido'
      %>
      <%= label_tag "sort_type", "Sort By:" %>
      <%= select_tag "sort_type", options_for_select(options, selected: sort_by) %>
      <%= hidden_field_tag "type", type.titleize %>

      <%= submit_tag 'Filter' %>
    <% end %>
  <% else %>
    <br/>
  <% end %>
</div>
