<div id="video_list">

  <h3>Select an <%= type.titleize %> Video</h3>
  <h4>by <%= sort_by.pluralize %></h4>

  <% if selection && selection.any? %>
    <div class="panel-group" id="accordion">
      <%
        first = true
        selection.each do |key, techniques|
          if key == 'Search Results'
            id = 'search_results'
            name = "Search Results"
            description = @search_term || ''
          else
            id = key.id
            name = key.name
            description = key.description
          end
      %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= id %>">
                <ul>
                  <li class="no_bullet_list"><%= name %></li>
                  <li class="no_bullet_list_indented"><%= description %></li>
                </ul>
              </a>
            </h4>
          </div>

          <div id="collapse<%= id %>" class="panel-collapse collapse<%= first ? ' in' : '' %>">
            <% first = false %>
            <div class="panel-body">
              <ul>
                <% techniques.each do |t| %>
                  <li class="no_bullet_list">
                    <%=
                      link_to "#{t[:list_name]}",
                        remote_show_url(t[:video].id),
                        remote: true
                    %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

        </div>

      <% end %>
    </div>
  <% end %>
</div>
