<header class="aiki_header navbar container" role="navigation">
  <div class="row">
    <div class="col-md-2 center">
      <%= image_tag 'ssj_mon_color_web.gif', class: "header_image", size: "100x100" %>
    </div>
    <div class="col-md-8 center">
      <h1>Aikido Center of San Antonio</h1>
      <h2>Video Library</h2>
      <p>a Yurusu Aikido Dojo</p>
    </div>
    <div class="col-md-2 center">
      <%= image_tag 'Nishio_patch_dark.png', class: "header_image", size: "100x100" %>
    </div>
  </div>
  <% if SHOW_MENU && !@no_menu %>
    <ul class="nav nav-pills">
      <li><%= link_to "Dojo", "http://www.aikipeace.com/aikido/index.html" %></li>
      <li id="nav_aikido"><%= link_to "Aikido", aikido_path %></li>
      <li id="nav_iaido"><%= link_to "Iaido", iaido_path %></li>
      <% if signed_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Admin", admin_root_path %></li>
        <% end %>
        <li class="pull-right"><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <li class="pull-right nav_text"><%= current_user.email %></li>
      <% end %>
    </ul>
  <% end %>
</header>
