<header class="aiki_box navbar container" role="navigation">
  <div class="row">
    <div class="col-md-2 center">
      <%= image_tag 'ssj_mon_color_web.gif', class: "header_image", size: "50x50" %>
    </div>
    <div class="col-md-8 center">
      <h4>Aikido Center of San Antonio: Video Library</h4>
      <p>a Yurusu Aikido Dojo</p>
    </div>
    <div class="col-md-2 center">
      <%= image_tag 'Nishio_patch_dark.png', class: "header_image", size: "50x50" %>
    </div>
  </div>

    <ul class="ul_big nav nav-pills">
      <li><%= link_to "Dojo", "http://www.aikipeace.com/aikido/index.html" %></li>
      <li><%= link_to "Video Library", root_path %></li>
      <% if signed_in? && SHOW_MENU && !@no_menu%>
        <% if current_user.admin? || current_user.reviewer? %>
          <% unless @title == 'Master Grid' %>
            <li><%= link_to "Master Grid", master_view_path %></li>
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <% if current_user.cotu? %>
            <% unless @title == 'New Video' %>
              <li><%= link_to "New Video", new_video_path %></li>
            <% end %>
          <% end %>
          <li><%= link_to "Admin", admin_root_path, target: "_blank" %></li>
        <% end %>
      <% end %>

      <% if signed_in? && SHOW_MENU && !@no_menu%>
        <li id="fat-menu" class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.email %> <b class="caret"></b>
          </a>
          <ul class="ul_big dropdown-menu">
            <% unless current_user.restricted? %>
              <li><%= link_to "Change Password", change_password_user_path(current_user) %></li>
              <li class="divider"></li>
            <% end %>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
      <% end %>
    </ul>

</header>
