<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aiki Video Library</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <% if Rails.env.production? %>
      <%= render 'shared/tracking' %>
    <% end %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="modal" class="modal" tableindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true"></div>
    <div class="container pad_sides">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? && SHOW_DEBUG %>
      <div class="container"><%= debug(params) %></div>
    <% end %>
  </body>
</html>
